<div id="navigation_container">

    <img id="close_nav" src="../img/cross.png">

    <div class="navigation_main">
        <div class="nav_default_links">
            <p><a class="nav_text" href="/sell">Выставить вещь на продажу</a></p>
            <p><a class="nav_text" href="/sell/my_prods">Мои вещи</a></p>
            <p><a class="nav_text" href="/basket">Корзина</a></p>
        </div>


        <div class="bottom_text">
            <div class="user_info">
                <p id="userName"></p>
                <p id="user_balance"></p>
            </div>

            <p><a id="login_butt" class="nav_text" href="/Auth_login_page">Войти</a></p>
            <p id="logout"><a class="nav_text bottom_text" href="/auth/logout">Выйти</a></p>
        </div>
    </div>
</div>
