<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="./css/header&footer.css" type="text/css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
</head>

<body>

  {{>header}}

  {{>navigation}}

  {{>footer}}

  {{!-- <div class="container_scroll">
    <div class="prods_scroll_line">
                                    in the furute
    </div>
  </div> --}}


</body>

</html>

<script src="./scripts/spriptMain.js"></script>
<script src="./scripts/search.js"></script>